/*Nav First*/

#navigation {
    position:fixed;
    width:100%;
    background:#0D0D0B;
    z-index:3000;
    top:0px;
    text-transform:uppercase;
    letter-spacing:1px;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  .logo {
    float: left;
    margin: 0;
    padding: 0;
  }

  .navlinks { 
    float:right;
    padding:25px;
  }
  
  .navlinks a {
    width:50%;
    color:#F2F2F2;
    padding:10px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .navlinks a:hover {
    padding:20px 15px;

  }

  @media only screen and (max-width: 530px) {
    .logo {display:none;}
    .navlinks{float:left; padding: 25px 0 25px 5px; letter-spacing:0px;}
}

@media only screen and (max-width: 400px) {
  .logo {display:none;}
  .navlinks{float:left; word-spacing: -5px;; letter-spacing:0px;}
}

a.is-active{
    text-decoration: none;
}


/* general styles */
html, body {
    color: #F2F2F2;
    height: 100%;
    width: 100%;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #home {
    background: url("images/larry2bw.jpg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #home p {
    padding: 0 25%
  }

  #about {
  }
  #services {
    background-color: #8C8274;
    color: #F2F2F2;
  }
  #services .glyphicon {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
  #information {
    background: url(../images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
    background-color: #0D0D0B;
    color: #F2F2F2;
  }
  footer .glyphicon {
    color: #F2F2F2;
    font-size: 60px;
  }
  footer a {
    color: #F2F2F2;
  }

  /*personal taste*/

  .btn {
    border: 1px solid #0D0D0B;
    background-color: #F2F2F2;
    color: #0D0D0B;
}

.block-quote {
  width: 100%;
  padding: 10% 25% 10% 25%;
}

.block-quote h2 {
  color: #F2F2F2;
}

p {
  color: #F2F2F2;
  font-size: 20px;
  line-height: 1.5;
}

.timeline {
  background-color: #0D0D0B;
  padding: 10%;
  width: 100%;
}

.timeline p {
  padding: 0 25%
}