/*Nav First*/

#navigation {
    position:fixed;
    width:100%;
    background:#0D0D0B;
    z-index:3000;
    top:0px;
    text-transform:uppercase;
    letter-spacing:1px;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  .logo {
    float: left;
    margin: 0;
    padding: 0;
  }

  .navlinks { 
    float:right;
    padding: 25px;
  }
  
  .navlinks a {
    width:50%;
    color:#F2F2F2;
    padding:10px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  a.icon {
    padding: 0;
  }
  
  .navlinks .icon {
    display: none;
    font-size: 25px;
}

 @media only screen and (max-width: 530px) {
    .navlinks a:not(:last-child) {
      display: none;
    }
    .navlinks a.icon {
    float: right;
    display: block;
  }
  .navlinks {
    padding-top: 20px;
    padding-bottom: 15px;
  } 
}

@media only screen and (max-width: 400px) {
  .navlinks.responsive {
    position: relative;
  }
    .navlinks.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
  }
    .navlinks.responsive a {
        float: none;
        display: block;
        text-align: left;
  }
  .navlinks {
    padding-top: 20px;
    padding-bottom: 15px;
  } 
}

a.is-active{
    text-decoration: none;
    color: #CEA449
}

a:hover {
  color: #8C8274;
  text-decoration: none;
}

/* general styles */
html, body {
    color: #F2F2F2;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h6 {
    font-family: 'Cinzel', serif;
  }

  .h5 {
    color: #8C8274;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }

  
  .h4 {
    color: #CEA449;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }




  /* additional sections */
  #home {
    background-image: no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #smallhome {
    background-image: no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  #home p {
    padding: 0 25%
  }

  /* additional sections */

  #museum {
    background-image: no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: gray;
  }


  #services {
    background-color: #8C8274;
    /* color: #F2F2F2; */
  }
  #services .glyphicon {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }

  #goals {
    background-color: #8C8274;
    /* color: #F2F2F2; */
  }
    #goals .glyphicon {
      border: 2px solid #F2F2F2;
      border-radius: 50%;
      display: inline-block;
      font-size: 60px;
      height: 140px;
      line-height: 140px;
      text-align: center;
      vertical-align: middle;
      width: 140px;
    }

  #information {
    background: url(../images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
    background-color: #0D0D0B;
    color: #F2F2F2;
  }
  footer .glyphicon {
    color: #F2F2F2;
    font-size: 60px;
  }
  footer a {
    color: #F2F2F2;
  }

  footer h5 {
    color: #8C8274;
  }

  /*personal taste*/

  .btn {
    /* border: 1px solid #0D0D0B; */
    background-color: #CEA449;
    color: #0D0D0B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 0;
    padding: 5px;
    width:150px;
    font-size: 12pt;
}

.btn:hover {
  color:#0D0D0B;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
}



.block-quote {
  width: 100%;
  padding: 10% 25% 10% 25%;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.block-quote h2 {
  color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p {
  color: #F2F2F2;
  font-size: 15px;
  line-height: 1.5;
}

.timeline {
  background-color: #0D0D0B;
  padding: 10%;
  width: 100%;
}

.timeline p {
  padding: 0 25%
}





/* styling for footer progress */
$orange:  #CEA449;
$lightgrey:  #0D0D0B;
$white:  #0D0D0B;
$charcoal: #333;
$ease: background .15s ease;

%align-both {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.fill {
   width: 100%;
   height: 100%;
   background: $orange;
   position: absolute;
   bottom: 0;
   transition: $ease;
}

footer .progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: transparent;
  z-index: 1;

  .bar {
    height: 100%;
    width: 10%;
    background: $orange;
    transition: $ease;
  }


  